html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

canvas {
  display: block;
  width: 100%;
  background-color: black;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.call-to-action {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  color: white;
  text-transform: capitalize;
  font-family: monospace;
}
